$brand-primary: #F1E200;
$light-grey: #c0c0c0;
$lighter-grey: #FAF9F9;

html,
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
section{
  padding: 4em 0;
}
.section-primary{
  background:linear-gradient(0deg, rgba(88, 83, 83, 0.6), rgba(88, 83, 83, 0.6)), 
            url(../images/pexels-photo-126401-min.jpeg) ,
            no-repeat,
            center top;        
  background-size: cover;
  padding: 7em 7em 10em 7em;
  margin-bottom: -6em;
  h1{
    color: $brand-primary;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 6rem;
    letter-spacing: 8px;
    }
  .lead{
    color: #fff;
    font-size: 1.5rem;
  }
}
.section-cta{
  .column-md{
    background-color: $brand-primary;
    padding: 1em;
    margin-top: -3em;
  }
  .icon-3{
    display: inline-block;
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
    img{
      max-width: 10em;
    }

  }
  .cta{
    width: 60%;
    margin: 0 auto;
  }
  form{
    input{
      width: 40%;
      display: inline;
      font-size: 12px;
      text-transform: uppercase;
      margin: 5px;
      padding: 10px;
      border: none;
    }
    select{
      width: 43%;
      display: inline;
      font-size: 12px;
      text-transform: uppercase;
      margin: 5px;
      padding: 10px;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
      background-repeat: no-repeat;
      background-position: 21em center;    
    }
    .btn{
      background: #000;
      color: #fff;
      margin-top: 1em;
    }
  }
  hr{
    width: 10%;
    border: solid 2px #000;
  }
}
.section-preworkout{
  padding: 2em;
  .column-md{
    width: 80%;
    margin: 0 auto;
  }
  .column-1,
  .column-3{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3em;
  }
  .column-2{
    width: 50%;
    display: inline-block;
  }
}
.section-blog{
  background: $lighter-grey;
  .post{
    width: 20%;
    display: inline-block;
    margin-left: 3em;
    margin-right: 3em;
  }
  .btn-blog{
    padding: 10px 20px;
    font-size: 12px;
    background: none;
    border: solid 2px $light-grey;
    color: $light-grey;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
  .btn-blog:hover{
    padding: 10px 20px;
    font-size: 12px;
    background: #000;
    border: solid 2px #000;
    color: $light-grey;
  }
}
.section-partners{
  background: $brand-primary;
  .logo{
    max-width: 10em;
    display: inline;
  }
}
.lead{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: 4px;
}
.text-muted{
  color: $light-grey;
}
a {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  text-decoration: underline;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
.row{
  margin: 1em 0 3em 0;
}
.text-center{
  text-align: center;
}
.mb-0{
  margin-bottom: 0px;
}
.mt-0{
  margin-top: 0px;
}
.uppercase{
  text-transform: uppercase;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .section-cta .cta{
    width: 100%;
  }
  .section-cta form input {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
  }  
  .section-primary{ 
    padding: 10% 10% 30% 10%;
      h1{
      font-size:2em;
    }
  }
  .section-preworkout .column-2 {
    width: 100%;
    display: block;
  }
  .section-preworkout .column-1, 
  .section-preworkout .column-3{
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }

  .section-blog .post {
    width: inherit;
    display: block;
    margin: 4em 2em;
  }
  .section-cta .icon-3{
    width: 100%;
  }
  .section-preworkout .column-md{
    width: 100%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}